body{
    text-align:center;
    background-color: black;
    background-image:url(assets/campfire.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}