<!DOCTYPE html>
<html>
    <head>
        <title>The Moonlit Camp!</title>
        <link href="style.css" rel="stylesheet">
    </head>

  <body>
      <h1> Welcome Back To Camp! </h1><br>

    <div>
        <h2>{{ count }} People have visited the campsite!</h2>
    </div>

    <div>
        <button class="button" id="roast">Roast Marshmellows</button>
        <button class="button" id="stargaze">Stargaze</button>
        <button class="button" id="note">Leave A Note</button>
    </div>
    </body>


</html> 


<! –– Open the site by clicking on the index.html file within the folder ––>